<!-- welcome -->
<div class="welcome"> 
	<h3 class="w3ls-title">About Us</h3> 
	<div class="welcome-info">
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<div class="container">
				<div class="row contactus">
                    <div class="">
						<h3 class="title_blue" style="color:white"><span><img src="images/support-512.png" alt="" width="40px"><strong> About Us</strong></span></h3>
						
						
						
						
						Tspsc.co  is an online education portal which has started with an aim to provide studetns to get Telangana Govt Jobs, Job Notificatios, Practice Tests, Online Mock Tests,Current Afairs etc.updates to the people of Telangana. 
						
						From this website you can get information related to TSPSC jobs, exam results, admit cards / hall tickets, mock tests, education news, Preveious Tests, and lot more stuff.
						
						Aspirants who are looking for govt jobs can check our website tspsc.co to check latest TSPSC updates. I hope you all support this website in its growth and in providing quality updates.
						
					</div>
				</div>
			</div>
		</div>  
	</div>  	
</div> 