<!-- welcome -->
<div class="welcome"> 
	<h3 class="w3ls-title">TSPSC Help Desk</h3> 
	<p class="w3title-text"></p>
	<div class="welcome-info">
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<div class="container">
				<div class="row contactus">
                    <div class="">
						<h3 class="title_blue" style="color:white"><span><img src="images/support-512.png" alt="" width="40px"><strong> Help Desk</strong></span></h3>
						<div class="col-sm-4">							
							<h3>Call Center</h3>
							<p>
 								Telangana State Public Service Commission <br>For any Notification related issues<br>Please
								Call Ph:040 24655555 / 24606666
								<br>(Call Time :10.30 A.M to 5:00 P.M on working days) 
							</p>
						</div>
						<div class="col-sm-4">
							<div id="technical-content2">
								<h3>Technical Team</h3>
								<p> For any doubts in Online submission and download of hall-tickets<br>
									Call Ph: +91 40 23120301 / 23120302 <br>
									(Call Time :10.30 A.M to 5:00 P.M on working days) <br> 
									email  to : helpdesk@tspsc.gov.in <br> 
								email to : feedback@tspsc.gov.in       </p>
							</div>
						</div>
						<div class="col-sm-4">
							<div id="address-content2">
								<h3>Postal Address</h3>
								Secretary, <br>
								<p> Telangana State Public Service Commission, Prathibha Bhavan, M.J.Road,<br>
									Nampally, Hyderabad - 500103. <br>
									Telephone No: 040-24686026<br>
									Fax. No: 040-24747578 <br>
								</p>
							</div>
							
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>  
	</div>  	
</div> 