	<!-- welcome -->
	<div class="welcome"> 
		<h3 class="w3ls-title">Technical Team !</h3> 
		<p class="w3title-text">TSPSC TEST </p>
		<div class="welcome-info">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class=" nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
						<span class="glyphicon glyphicon-briefcase"></span>
						<h5>Syllabus</h5>
					</a></li>
					<li role="presentation">
					<a ui-sref="notification" role="tab" id="carl-tab" data-toggle="tab" aria-controls="carl"> 
						<span class="glyphicon glyphicon-signal"></span>
						<h5>Notifications</h5>
					</a></li>
					<li role="presentation"><a href="#james" role="tab" id="james-tab" data-toggle="tab" aria-controls="james"> 
						<span class="glyphicon glyphicon-home"></span>
						<h5>Tests</h5>
					</a></li>
				</ul>
			</div>  
		</div>  	
	</div> 