<!-- agents -->
<div class="about"> 
	<h3 class="w3ls-title">Group 2 Syllabus Details</h3> 
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Paper 1</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Details</td>				
			</tr>
		</tbody>
		<thead>
			<tr>
				<th>Paper 2</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Details</td>				
			</tr>
		</tbody>
		<thead>
			<tr>
				<th>Paper 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Details</td>				
			</tr>
		</tbody>
		<thead>
			<tr>
				<th>Paper 4</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Details</td>				
			</tr>
		</tbody>
	</table>
</div>
